<div
  class="modal fade"
  id="cancelamentoModal"
  tabindex="-1"
  aria-labelledby="cancelamentoModalLabel"
  aria-hidden="true"
  #cancelamentoModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">
          Motivo do Cancelamento
        </h5>
        <button
          #closeModalCancel
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="motivoCancelamento" class="form-label"
              >Informe o motivo</label
            >
            <input
              type="text"
              class="form-control"
              id="motivoCancelamento"
              [(ngModel)]="motivoCancelamento"
              name="motivoCancelamento"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCloseCancelAgendamento()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confirmacaoModal"
  tabindex="-1"
  aria-labelledby="confirmacaoModalLabel"
  aria-hidden="true"
  #confirmacaoModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Concluir Agendamento</h5>
        <button
          #concluirModalCancel
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja concluir o agendamento?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCloseConcluirAgendamento()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="onConfirmConcluirAgendamento()"
        >
          Concluir
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4 text-dark">Meus Agendamentos</h2>
      <div class="card">
        <div class="card-header">
          <h3>Pendentes</h3>
        </div>
        <div class="card-body row m-0 py-2 px-0">
          <div class="col-md-6 px-2" *ngFor="let agendamento of agendamentos">
            <div class="card h-auto">
              <div class="card-header">
                <h5 class="card-title">Agendamento #{{ agendamento.id }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Data: {{ agendamento.data | date : "dd/MM/yyyy HH:mm" }}
                </p>
                <p class="card-text">
                  Tipo de Pagamento: {{ agendamento.tipoPagamento }}
                </p>
                <p class="card-text">
                  Valor: {{ agendamento.servico.preco | currencyBr }}
                </p>
                <p class="card-text">
                  Funcionário: {{ agendamento.funcionario.nome }}
                </p>
                <p class="card-text">Cliente: {{ agendamento.cliente.nome }}</p>
                <p class="card-text">
                  Serviço: {{ agendamento.servico.descricao }}
                </p>
                <p class="card-text">Status: {{ agendamento.status }}</p>
              </div>
              <div class="card-footer d-flex justify-content-end gap-2">
                <button
                  class="btn btn-danger"
                  (click)="onOpenCancelAgendamento(agendamento.id!)"
                  data-bs-toggle="modal"
                  data-bs-target="#cancelamentoModal"
                >
                  Cancelar
                </button>
                <button
                  class="btn btn-success"
                  (click)="onOpenConcluirAgendamento(agendamento.id!)"
                  data-bs-toggle="modal"
                  data-bs-target="#confirmacaoModal"
                >
                  Concluir
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="agendamentos.length === 0" class="text-center w-100">
            <p class="m-2">Nenhum agendamento pendente</p>
          </div>
        </div>
        <div class="mx-2">
          <app-navigation
            *ngIf="agendamentos.length > 0"
            (load)="loadAgendamentos($event)"
            [totalPages]="totalPagesAgendamentos"
          ></app-navigation>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          <h3>Histórico</h3>
        </div>
        <div class="card-body row m-0 py-2 px-0">
          <div
            class="col-md-6 px-2"
            *ngFor="let agendamento of oldAgendamentos"
          >
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title">Agendamento #{{ agendamento.id }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Data: {{ agendamento.data | date : "dd/MM/yyyy HH:mm" }}
                </p>
                <p class="card-text">
                  Tipo de Pagamento: {{ agendamento.tipoPagamento }}
                </p>
                <p class="card-text">
                  Valor: {{ agendamento.servico.preco | currencyBr }}
                </p>
                <p class="card-text">
                  Funcionário: {{ agendamento.funcionario.nome }}
                </p>
                <p class="card-text">Cliente: {{ agendamento.cliente.nome }}</p>
                <p class="card-text">
                  Serviço: {{ agendamento.servico.descricao }}
                </p>
                <p class="card-text">Status: {{ agendamento.status }}</p>
                <p class="card-text" *ngIf="agendamento.motivoCancelamento">
                  Motivo cancelamento: {{ agendamento.motivoCancelamento }}
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="oldAgendamentos.length === 0" class="text-center w-100">
            <p class="m-2">Nenhum agendamento pendente</p>
          </div>
        </div>
        <div class="mx-2">
          <app-navigation
            *ngIf="oldAgendamentos.length > 0"
            (load)="loadOldAgendamentos($event)"
            [totalPages]="totalPagesOldAgendamentos"
          ></app-navigation>
        </div>
      </div>
    </div>
  </div>
</div>
