<div
  class="modal fade"
  id="agendamentoModal"
  tabindex="-1"
  aria-labelledby="agendamentoModalLabel"
  aria-hidden="true"
  #funcionarioModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Novo Agendamento</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input
              type="date"
              class="form-control"
              id="data"
              [(ngModel)]="data"
              name="data"
              required
            />
            <div *ngIf="errors['data']" class="text-danger">
              {{ errors["data"] }}
            </div>
          </div>
          <div class="mb-3">
            <label for="hora" class="form-label">Hora</label>
            <input
              type="time"
              class="form-control"
              id="hora"
              [(ngModel)]="hora"
              name="hora"
              required
            />
            <div *ngIf="errors['hora']" class="text-danger">
              {{ errors["hora"] }}
            </div>
          </div>
          <div class="mb-3">
            <label for="tipoPagamento" class="form-label"
              >Tipo de Pagamento</label
            >
            <select
              class="form-select"
              id="tipoPagamento"
              [(ngModel)]="tipoPagamento"
              name="tipoPagamento"
              required
            >
              <option value="" disabled selected>
                Selecione o tipo de pagamento
              </option>
              <option value="Cartão de Crédito">Cartão de Crédito</option>
              <option value="Cartão de Débito">Cartão de Débito</option>
              <option value="Dinheiro">Dinheiro</option>
              <option value="Pix">Pix</option>
            </select>
            <div *ngIf="errors['tipoPagamento']" class="text-danger">
              {{ errors["tipoPagamento"] }}
            </div>
          </div>
          <div class="mb-3">
            <label for="servico" class="form-label">Serviço</label>
            <select
              class="form-select"
              id="servico"
              [(ngModel)]="servico"
              name="servico"
              (ngModelChange)="onServicoChange($event)"
              required
            >
              <option [ngValue]="defaultServico" disabled selected>
                Selecione o serviço
              </option>
              <option *ngFor="let servico of servicos" [ngValue]="servico">
                {{ servico.descricao }}
              </option>
            </select>
            <div *ngIf="errors['servico']" class="text-danger">
              {{ errors["servico"] }}
            </div>
          </div>
          <div class="mb-3">
            <label for="funcionario" class="form-label">Funcionário</label>
            <select
              class="form-select"
              id="funcionario"
              [(ngModel)]="funcionario"
              name="funcionario"
              required
            >
              <option [ngValue]="defaultFuncionario" disabled selected>
                Selecione o funcionário
              </option>
              <option
                *ngFor="let funcionario of funcionarios"
                [ngValue]="funcionario"
              >
                {{ funcionario.nome }}
              </option>
            </select>
            <div *ngIf="errors['funcionario']" class="text-danger">
              {{ errors["funcionario"] }}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="onSubmit()">Agendar</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="cancelamentoModal"
  tabindex="-1"
  aria-labelledby="cancelamentoModalLabel"
  aria-hidden="true"
  #cancelamentoModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">
          Motivo do Cancelamento
        </h5>
        <button
          #closeModalCancel
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="motivoCancelamento" class="form-label"
              >Informe o motivo</label
            >
            <input
              type="text"
              class="form-control"
              id="motivoCancelamento"
              [(ngModel)]="motivoCancelamento"
              name="motivoCancelamento"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCloseCancelAgendamento()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4 text-dark">Meus Agendamentos</h2>
      <button
        class="btn btn-primary mb-4"
        data-bs-toggle="modal"
        data-bs-target="#agendamentoModal"
        (click)="resetForm()"
      >
        Novo Agendamento
      </button>
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h3 class="m-0 p-0">Pendentes</h3>
          <div class="d-flex gap-4">
            <div class="form-group d-flex gap-2 align-items-center">
              <label for="funcionarioFilterSelect" class="text-nowrap">
                Filtrar por Funcionário
              </label>
              <select
                id="funcionarioFilterSelect"
                class="form-select"
                [(ngModel)]="filtroFuncionario"
                (ngModelChange)="onFiltroFuncionarioChange($event)"
              >
                <option [ngValue]="defaultFuncionario">Todos</option>
                <option
                  *ngFor="let funcionario of funcionariosToFiltro"
                  [ngValue]="funcionario"
                >
                  {{ funcionario.nome }}
                </option>
              </select>
            </div>
            <div class="form-group d-flex gap-2 align-items-center">
              <label for="servicoFilterSelect" class="text-nowrap">
                Filtrar por Serviço
              </label>
              <select
                id="servicoFilterSelect"
                class="form-select"
                [(ngModel)]="filtroServico"
                (ngModelChange)="onFiltroServicoChange($event)"
              >
                <option [ngValue]="defaultServico">Todos</option>
                <option *ngFor="let servico of servicos" [ngValue]="servico">
                  {{ servico.descricao }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body row m-0 py-2 px-0">
          <div class="col-md-6 px-2" *ngFor="let agendamento of agendamentos">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title">Agendamento #{{ agendamento.id }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Data: {{ getFormatedData(agendamento.data) }}
                </p>
                <p class="card-text">
                  Tipo de Pagamento: {{ agendamento.tipoPagamento }}
                </p>
                <p class="card-text">
                  Valor: {{ agendamento.servico.preco | currencyBr }}
                </p>
                <p class="card-text">
                  Funcionário: {{ agendamento.funcionario.nome }}
                </p>
                <p class="card-text">Cliente: {{ agendamento.cliente.nome }}</p>
                <p class="card-text">
                  Serviço: {{ agendamento.servico.descricao }}
                </p>
                <p class="card-text">Status: {{ agendamento.status }}</p>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <button
                  class="btn btn-danger"
                  (click)="onOpenCancelAgendamento(agendamento.id!)"
                  data-bs-toggle="modal"
                  data-bs-target="#cancelamentoModal"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="agendamentos.length === 0" class="text-center w-100">
            <p class="m-2">Nenhum agendamento pendente</p>
          </div>
        </div>
        <div class="mx-2">
          <app-navigation
            *ngIf="agendamentos.length > 0"
            #navigationComponent
            (load)="
              loadAgendamentos($event, filtroServico.id, filtroFuncionario.id)
            "
            [totalPages]="totalPagesAgendamentos"
          ></app-navigation>
        </div>
      </div>
      <div class="card mt-4">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h3 class="m-0 p-0">Histórico</h3>
          <div class="d-flex gap-4">
            <div class="form-group d-flex gap-2 align-items-center">
              <label for="funcionarioFilterSelect" class="text-nowrap">
                Filtrar por Funcionário
              </label>
              <select
                id="funcionarioFilterSelect"
                class="form-select"
                [(ngModel)]="filtroFuncionarioOld"
                (ngModelChange)="onFiltroFuncionarioOldChange($event)"
              >
                <option [ngValue]="defaultFuncionario">Todos</option>
                <option
                  *ngFor="let funcionario of funcionariosToFiltro"
                  [ngValue]="funcionario"
                >
                  {{ funcionario.nome }}
                </option>
              </select>
            </div>
            <div class="form-group d-flex gap-2 align-items-center">
              <label for="servicoFilterSelect" class="text-nowrap">
                Filtrar por Serviço
              </label>
              <select
                id="servicoFilterSelect"
                class="form-select"
                [(ngModel)]="filtroServicoOld"
                (ngModelChange)="onFiltroServicoOldChange($event)"
              >
                <option [ngValue]="defaultServico">Todos</option>
                <option *ngFor="let servico of servicos" [ngValue]="servico">
                  {{ servico.descricao }}
                </option>
              </select>
            </div>
            <div class="form-group d-flex gap-2 align-items-center">
              <label for="statusFilterSelect" class="text-nowrap">
                Filtrar por Status
              </label>
              <select
                id="statusFilterSelect"
                class="form-select"
                [(ngModel)]="filtroStatus"
                (ngModelChange)="onFiltroStatusChange($event)"
              >
                <option value="">Todos</option>
                <option value="CONCLUIDO">Concluído</option>
                <option value="CANCELADO">Cancelado</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body row m-0 py-2 px-0">
          <div
            class="col-md-6 px-2"
            *ngFor="let agendamento of oldAgendamentos"
          >
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title">Agendamento #{{ agendamento.id }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Data: {{ agendamento.data | date : "dd/MM/yyyy HH:mm" }}
                </p>
                <p class="card-text">
                  Tipo de Pagamento: {{ agendamento.tipoPagamento }}
                </p>
                <p class="card-text">
                  Valor: {{ agendamento.servico.preco | currencyBr }}
                </p>
                <p class="card-text">
                  Funcionário: {{ agendamento.funcionario.nome }}
                </p>
                <p class="card-text">Cliente: {{ agendamento.cliente.nome }}</p>
                <p class="card-text">
                  Serviço: {{ agendamento.servico.descricao }}
                </p>
                <p class="card-text">Status: {{ agendamento.status }}</p>
                <p class="card-text" *ngIf="agendamento.motivoCancelamento">
                  Motivo cancelamento: {{ agendamento.motivoCancelamento }}
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="oldAgendamentos.length === 0" class="text-center w-100">
            <p class="m-2">Nenhum agendamento no histórico</p>
          </div>
        </div>
        <div class="mx-2">
          <app-navigation
            *ngIf="oldAgendamentos.length > 0"
            #navigationOldComponent
            (load)="
              loadOldAgendamentos(
                $event,
                filtroServicoOld.id,
                filtroFuncionarioOld.id,
                filtroStatus
              )
            "
            [totalPages]="totalPagesOldAgendamentos"
          ></app-navigation>
        </div>
      </div>
    </div>
  </div>
</div>
