<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar bg-dark">
      <div class="d-flex flex-column align-items-center text-white min-vh-100">
        <a
          routerLink="/dashboard"
          class="d-flex flex-column align-items-center text-center text-white text-decoration-none"
        >
          <img
            src="assets/logo.png"
            width="45px"
            height="45px"
            alt="Feminine Beauty"
          />
          <h3>Feminine Beauty</h3>
        </a>
        <ul
          class="d-flex w-100 nav nav-pills flex-column mb-sm-auto mt-4 gap-2 mb-0 align-items-center"
        >
          <li *ngFor="let m of getMenuItems()">
            <a [routerLink]="m.link" class="nav-link">
              <span class="d-none d-sm-inline">{{ m.name }}</span></a
            >
          </li>
        </ul>
        <div class="d-flex align-items-center justify-content-center mb-4 mt-2">
          <a
            class="d-flex rounded-3 align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
          >
            <img
              src="https://avatar.iran.liara.run/public"
              alt="Perfil"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <div class="d-flex flex-column mx-3 text-center">
              <span
                class="w-100 d-none d-sm-inline p-2 border-bottom border-white"
                >{{ userInfo.sub }}</span
              >
              <span class="d-none d-sm-inline p-1">
                {{ userInfo.role }}
              </span>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li *ngIf="userInfo.role != 'admin'">
              <a class="dropdown-item" routerLink="/dashboard/perfil">Perfil</a>
            </li>
            <li *ngIf="userInfo.role != 'admin'">
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" (click)="authService.logout()">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
      <ng-content></ng-content>
    </div>
  </div>
</div>
